<nav class="py-4">
  <header class="bg-white shadow-md py-6">
    <div class="container mx-auto flex items-center justify-between">
      <a href="/" class="flex items-center space-x-2">
        <img src="images/logo.jpg" alt="Logo site" class="h-10" />
        <span class="text-2xl font-bold text-gray-900">
          <span class="text-blue-500">Role</span> & Roll
        </span>
      </a>
      <nav>
        <ul class="flex space-x-6">
          <li><a routerLink="/" class="text-gray-700 hover:text-blue-500">Accueil</a></li>
          <li><a routerLink="/campaigns" class="text-gray-700 hover:text-blue-500">Campagnes</a></li>
          <li><a routerLink="/characters" class="text-gray-700 hover:text-blue-500">Personnages</a></li>
          <li><a routerLink="/tools" class="text-gray-700 hover:text-blue-500">Outils</a></li>
          <li><a routerLink="/login" class="text-gray-700 hover:text-blue-500">Connexion</a></li>
        </ul>
      </nav>
    </div>
  </header>
</nav>