@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

.login-background {
    background-image: url('/images/background-login.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  